<!--For each de handlebars-->
  {{#each verNota}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">*</th>
      <th scope="col">Nombre</th>
      <th scope="col">Tipo</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Controles</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <!--paso cada una de las propiedades de mi objeto-->
      <th scope="row"></th>
      <td>{{nombre}}</td>
      <td>{{tipo}}</td>
      <td>{{descripcion}}</td>
      <td>
        <button class="btn btn-success" ><a href= "/editar/{{_id}}" class="text-decoration-none text-dark">Editar</a></button>
      <button class="btn btn-danger" ><a href="/eliminar/{{_id}}" class="text-decoration-none text-dark">Eliminar</a></button>
      </td>
    </tr>
  </tbody>
</table>
{{/each}}

